<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Documento Nuevo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
    
    p{
    font-family: 'Roboto';  
    font-weight: bold;
    }
</style>
    
</head>
<body>
 
     <div class="row d-flex justify-content-start">
         
         <div class="col-sm-4 mt-5" style="padding-left:175px;padding-bottom:30px;">
             <p style="font-size:20px">Hello! I am Manuel, a Full Stack Developer, based in Ensenada Mexico</p>
         </div>
     </div>
  
  
  <div class="container ">
      
      <div class="row d-flex justify-content-around">
          
          <div class="col-sm-3 bg-danger">
            <center><i class="fab fa-angular mt-5 mb-3" style="font-size:100px;color:white;"></i> 
            <p style="padding-bottom: 20px;color:white">Angular</p></center>
      
              
             
          </div>
          
          
          <div class="col-sm-3 bg-primary  ">
              
             <center><i class="fab fa-codepen mt-5 mb-3" style="font-size:100px;color:white;"></i> 
            <p style="padding-bottom: 20px;color:white;">Codepen</p></center>
          </div>
          
          <div class="col-sm-3" style="background-color: darkviolet">
             <center><i class="fab fa-instagram mt-5 mb-3" style="font-size:100px;color:white;"></i> 
            <p style="padding-bottom: 20px;color:white">Instagram</p></center>
              
          </div>
          
      </div><br><br>
      
      <div class="row d-flex justify-content-around">
          
          <div class="col-sm-5  bg-success"> 
          
            <center><i class="fab fa-vuejs mt-5 mb-3" style="font-size:100px;color:white;"></i> 
            <p style="padding-bottom: 20px;color:white">Vue JS</p></center>
                          
          </div>  
           
           <div  class="col-sm-5" style="background-color: black" >
            
            <center><i class="fab fa-github mt-5 mb-3" style="font-size:100px;color:white;"></i> 
            <p style="padding-bottom: 20px;color:white;">Github</p></center>
             
             
              
              
          </div>
      </div> 
      
      
  </div>   
   
   
   
</body>
</html>
